:root {
    --primaryColor: #505089;
    --secondryColor: #ae3465;
    --lightColor: #ffffff;
    --bgColor-1: #11283b;
    --bgColor-2: #14435a;
    --padding: 8%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}


.home {
    width: 100%;
    height: 60vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

span {
    color: var(--primaryColor);
}

h2 {
    font-size: 2.2rem;
    letter-spacing: .12rem;
    cursor: pointer;
}

nav {
    padding-top: 2.8rem;
    padding-right: var(--padding);
    padding-left: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

nav a {
    width: 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: .8rem 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--lightColor);
    text-transform: capitalize;
    transition: .4s;
}

nav ul li a:hover {
    color: var(--primaryColor);
}

.content {
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-text {
    position: relative;
    bottom: 40px;
}

h1 {
    font-size: 4.65rem;
    margin: 1.7rem 0;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: .12rem;
    color: var(--secondryColor);
}

.btn {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: .81rem 3rem;
    border-radius: 30px;
    text-transform: capitalize;
    transition: .4s;
    border: 2px solid transparent;
    margin-top: 2.5rem;

}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}

.home .container-image {
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.container-image .shape {
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 100%;
    opacity: .8;
    transition: .5s;
    left: 50%;
    transform: translateX(-50%);
}

.container-image .shape:hover {
    opacity: 1;
    bottom: 10px;
}

.about {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .container-image,
.contact .container-image {
    width: 35%;
    height: auto;
    border-radius: 50%;
}

.about .container-image img,
.contact .container-image img {
    width: 90%;
    opacity: 1;
    transition: .5s;
    position: relative;
    bottom: 0;
    height: 300px ;
    border-radius: 50%;

}

.about .container-image img:hover,
.contact .container-image img:hover {
    bottom: 10px;
}

.about .container-text p a {
    text-decoration: none;
}

.about .container-text,
.contact .container-text {
    width: 35%;
}

p {
    color: var(--secondryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

h5 {
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

.members {
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.members-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: var(--bgColor-2);
    width: 300px;
    overflow: hidden;
    text-align: center;
    border: 1px solid var(--secondryColor);
    border-radius: 20px;
    margin: 1rem;
    height: 400px;
    padding: 0;
}

.card-member {
    width: 300px;
    height: 450px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
    margin: 20px;
}

.card-member-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: translateZ(40px);
}


.Abdelrahman {
    background: url("../photoAbdo/11.jpg");
    background-size: cover;
}

.Elzoghby {
    background: url("../photoAbdo/12.jpg");
    background-size: cover;
}

.Nada {
    background: url("../photoAbdo/13.jpeg");
    background-size: cover;
}

.Nour {
    background: url("../photoAbdo/14.jpg");
    background-size: cover;
}

.Marim {
    background: url("../photoAbdo/15.jpeg");
    background-size: cover;
}

.eid {
    background: url("../photoAbdo/16.jpeg");
    background-attachment: local;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Kirlis{
    background: url("../photoAbdo/17.jpg");
    background-size: cover;
}

.ali{
    background: url("../photoAbdo/18.jpg");
    background-size: cover;
}

.card-member-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, -40px) rotateY(180deg);
    width: 85%;
    height: 87%;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #fff;
    transition: 1s;
    z-index: -1;
}

.card-member:hover {
    transform: rotateY(180deg);
}

.card-member-body .bg {
    position: absolute;
    background: #fff;
    border-radius: 100px;
    width: 0%;
    transition: .5s;
}

.card-member-body .bg:nth-child(1) {
    height: 25%;
    transform-origin: left;
    top: 0;
    left: -30%;
    transform: rotate(-10deg);
}

.card-member-body .bg:nth-child(2) {
    height: 50%;
    transform-origin: right;
    top: 5%;
    right: -30%;
    transform: rotate(-10deg);
}

.card-member-body .bg:nth-child(3) {
    height: 50%;
    transform-origin: left;
    top: 70%;
    left: -30%;
    transform: rotate(-10deg);
}

.card-member:hover .card-member-body .bg {
    width: 200%;
    transition-delay: 1s;
}

.card-member:hover .card-member-body .bg:nth-child(2) {
    transition-delay: 1.5s;
}

.card-member:hover .card-member-body .bg:nth-child(3) {
    transition-delay: 2s;
}

.card-member .content {
    position: relative;
    opacity: 0;
    transition: .5s;
    padding: 40px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-member .title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #292929;
    text-transform: uppercase;
    cursor: default;
}

.card-member:hover .content {
    opacity: 1;
    transition-delay: 2.5s;
}

.contact {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form input,
textarea {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    outline: 1px solid var(--primaryColor);
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: var(--secondryColor);
}

form .btn {
    margin-top: 0;
    cursor: pointer;
}

footer {
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}

footer .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-footer p {
    color: var(--lightColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

footer .content-footer .end {
    color: var(--primaryColor);
    margin-top: 1rem;

}

#menu {
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menu span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: .4s;
    margin-bottom: 5px;
}

#menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

#menu.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span {
    background-color: var(--primaryColor);
}

@media screen and (max-width: 575px) {
    :root {
        --padding: 1.5rem;
    }

    html {
        font-size: 13px;
    }

    .home .container-image {
        display: none;
    }

    nav>a {
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        width: 100vh;
        height: 50vh;
        background-color: var(--bgColor-2);
        top: 0;
        left: 0;
    }

    nav ul.is-active {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        padding-top: 0;
        z-index: 100;
    }

    nav ul li {
        display: block;
        margin: 50px;
    }

    .about .container-text {
        bottom: 0;
        text-align: center;
    }

    .social {
        margin-top: 30px;
    }

    h3 {
        margin-bottom: 70px;
    }

    #menu {
        display: block;
    }

    .about {
        display: block;

    }

    .about .container-image img,
    .contact .container-image img {
        align-items: center;
    }
    .about .container-image {
        width: 100%;
    }


    .about .container-text {
        width: 100%;
    }

    .contact {
        width: 100%;
        display: block;
    }

    .contact .container-text {
        width: 100%;
    }

    footer .content-footer p {
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    :root {
        --padding: 1.5rem;
    }

    html {
        font-size: 13px;
    }

    .home .container-image {
        display: none;
    }

    nav>a {
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        width: 100vh;
        height: 100vh;
        background-color: var(--bgColor-2);
        top: 0;
        left: 0;
    }

    nav ul.is-active {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        padding-top: 0;
        z-index: 100;
    }

    nav ul li {
        display: block;
        margin: 50px;
    }

    .container-text {
        bottom: 0;
        padding-top: 82px;
    }

    .social {
        margin-top: 30px;
    }

    h3 {
        margin-bottom: 70px;
    }

    #menu {
        display: block;
    }

    .about {
        display: block;
    }

    .about .container-image img,
    .contact .container-image img {
        align-items: center;
    }

    .about .container-image {
        width: 100%;
    }


    .about .container-text {
        width: 100%;
    }

    .contact {
        width: 100%;
        display: block;
    }

    .contact .container-text {
        width: 100%;
    }

    footer .content-footer p {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    :root {
        --padding: 1.5rem;
    }

    html {
        font-size: 13px;
    }

    .home .container-image {
        display: none;
    }

    nav>a {
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        width: 50vh;
        height: 41vh;
        background-color: var(--bgColor-2);
        top: 0;
        right: 0;
        text-align: center;
        font-size: 2rem;
    }

    nav ul.is-active {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        padding-top: 0;
        z-index: 100;
    }

    nav ul li {
        display: block;
        margin: 50px;
    }

    .container-text {
        bottom: 0;
    }


    h3 {
        margin-bottom: 100px;
    }

    #menu {
        display: block;
    }

    .about {
        display: block;
    }

    .about .container-image img,
    .contact .container-image img {
        width: 35%;
    }

    .about .container-image {
        width: 100%;
        align-items: center;
    }


    .about .container-text {
        width: 100%;
    }

    .contact {
        width: 100%;
        display: block;
    }

    .contact .container-text {
        width: 100%;
    }

    footer .content-footer p {
        width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
    :root {
        --padding: 1.5rem;
    }

    html {
        font-size: 13px;
    }

    .container-image img {
        display: none;
    }

    nav>a {
        display: none;
    }

    .about {
        text-align: center;
    }

    nav ul {
        display: none;
        position: fixed;
        width: 50vh;
        height: 100vh;
        background-color: var(--bgColor-2);
        top: 0;
        right: 0;
    }

    nav ul.is-active {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        padding-top: 0;
        z-index: 100;
    }

    nav ul li {
        display: block;
        margin: 50px;
    }

    .container-text {
        bottom: 0;
    }

    h3 {
        margin-bottom: 100px;
    }

    #menu {
        display: block;
    }

    .about {
        display: block;
    }




    .about .container-text {
        width: 100%;
    }

    .contact {
        width: 100%;
        display: block;
    }

    .contact .container-text {
        width: 100%;
    }

    footer .content-footer p {
        width: 100%;
    }
}


